body{
    font-family: 'Lato', sans-serif;
}

ul li{
    list-style-type: none;
}
a:link{
    text-decoration: none !important;
}

.container-menu{
    
    flex: 1;
    margin: 0;
    height: 120px;
    padding: 0 90px;
    position: absolute;
    top: 0;
    
   
}
.listamenu{
    
    margin: 0 auto;
    padding: 15px 0;
}

.item-menuprincipal{ 
    font-family: 'Lato', sans-serif;
    color: black;
    width: 34%;
    font-size: 12px;
    text-align: center;
    
    padding-top: 2%;
    margin: 5px;
}

.item-menuprincipal-whatsapp{ 
    font-family: 'Lato', sans-serif;
    color: white;
    width: 40%;
    font-size: 12px;
    text-align: center;
    height: 30px;
    padding: 6px;
    margin: 5px;
    align-self: center;
    background: #4DC479;
    border-radius: 3px;
}

.container-menumobile{
    display: none !important;
}

#logo-tyrraf{
    width: 250px;
    height: auto;
}

#colecao-outono-img{
    flex: 1 1 400px;
    width: 100%;
    height: 100%;
    padding: 6% 0;   
}

.sobre{
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info{
    flex: 1 1 300px;
    margin: 30px 125px 0 60px;
    text-align: left;
    
    
}

.sobre-info h2{
    letter-spacing: 7px;
    text-align: left;
    font-weight: bold;
     font-weight: bold;
    font-size: 28px;
    margin-bottom: .5em;
    
}
.sobre-info p{
    font-size: 18px;
    line-height: 2;
    margin-bottom: 1em;
    color: #313030;
}

.icone-digital-influencer img{
    height: 100px;
    width: 100px;
}

.ale-basilio-txt {
    margin: 10px;
    align-self: center;
}

.ale-basilio-txt h3{
    font-size: 20px;
    font-weight: bold;
}
.ale-basilio-txt h4{
    font-size: 22px;
    font-weight: bold;
    color: #A7A7A7;
}

#modelo1-img{
    width: 530px;
    height: 400px;

}

.retangulo-1 {
    background: #7ADD9F;
    margin-left: 32%;
    width: 130px;
    height: 40px;
    position: absolute;
    top: 8%;
}

.retangulo-2 {
    background: #4DC479;
    width: 50px;
    height: 140px;
    position: absolute;
    left: 20px;
    top: 75%;

}

/*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*/
/*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*/
/*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*/
/*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*//*SOBRE INFO 2*/

.sobre-info-2{
    flex: 1 1 300px;
    margin: 0px 64px 0 60px;
    
    
    
}

.sobre-info-2 h2{
    letter-spacing: 7px;
    text-align: right;
    font-weight: bold;
     font-weight: bold;
    font-size: 28px;;
    margin-bottom: .5em;
    
}
.sobre-info-2 p{
    text-align: right;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 1em;
    color: #313030;
}

.jaqueline-txt {
    margin: 10px;
    align-self: center;
}

.jaqueline-txt h3{
    font-size: 20px;
    font-weight: bold;
}
.jaqueline-txt h4{
    font-size: 22px;
    font-weight: bold;
    color: #A7A7A7;
}

#modelo1-img{
    width: 530px;
    height: 400px;

}
.retangulo-3 {
    background: #4DC479;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 8%;
    right: 0;

}
.retangulo-4 {
    background: #4DC479;
    width: 50px;
    height: 130px;
    position: absolute;
    top: 0%;
    left: 20px;
}
.retangulo-5 {
    background:  #4DC479;
    width: 55px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 3%;

}

.retangulo-6 {
    background: #4DC479;
    width: 150px;
    height: 280px;
    position: absolute;
    top: 452%;
    left: 0;

}

/*MARCAS*/

.cards-titulo h3{
    letter-spacing: 7px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2%;
}
.ul-cardsli{
    padding: 0 55px;
}

#img-licards{
    height: 110px;
    width: 290px;
}


.li-cardsli{
    
    background-color: #ccc;
    height: 110px;
    width: 290px;
    margin: 5px;
}




/*carousel*/
.carousel-mobile{
    display: none !important;
}
.retangulo-7 {
    background: #4DC479;
    margin-left: 39%;
    width: 295px;
    height: 35px;
}
.retangulo-8 {
    background: #4DC479;
    width: 301px;
    height: 55px;
    margin-top: -21px;
    margin-left: 27%;
}


#img-carousel{
    width: 300px;
    height: auto;
}

.carousel-titulo h3{
    letter-spacing: 7px;
    font-weight: bold;
}
  
.owl-item > div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
  }
.owl-item.center > div {
    cursor: auto;
    margin: 0;
}
  .owl-item:not(.center) > div {
    opacity: .75;
  }

  .carousel-1{
      padding: 60px;
      margin: 120px auto;
  }

.container-paragrafo-carousel{
    margin-top: -100px;
}

#paragrafo-carousel{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.carousel-titulo{
    
    padding: 30px;
}

.btn-vejanossasredes{
   
    
        background: #6A19A9;
        padding: 10px;
        text-align: center;
        padding-top: 16px;
        border-radius: 2px;
        color: rgb(255, 255, 255);
        font-size: 13px;
        width: 300px;
        height: 50px;
    
    
}

/*footer*/

.myfooter{
    background: #4DC479;
    margin-top: 80px;
}
  
#logo-footer{
    width: 270px;
    height: 140px;
    margin: -4px 0px;
}

.text-footer{
    margin: 60px 20px;
}
.text-footer h4{
   font-size: 15px;
   color: aliceblue;
   font-weight: bold;
}

.container-help p{
    color: #FFF241;
    font-size: 18px;
}

#icone-help{
    width: 35px;
    height: 35px;
    margin: -10px 10px;
}

.txt-footer-2 p{
    color: aliceblue;
    font-size: 18px;
    margin: 10px;
}

#rede-social-yellow{
    width: 35px;
    height: 35px;
    margin: 10px;   
}

.txt-footer-2{
    margin: 100px 0px;
}
.container-localizacao{
    padding-left: 340px;
}

.localizacao h3{
    font-size: 18px;
    font-weight: bold;
    color: #FFF241;
}

.endereco{
    font-size: 14px;
    color: aliceblue;
}

/*MOBILE*/

@media (max-width: 740px){
    .retangulo-1{
        display: none !important;  
    }
    .retangulo-2{
        display: none !important;
    }
    .retangulo-3{
        display: none !important;
    }
    .retangulo-4{
        display: none !important;
    }
    .retangulo-5{
        display: none !important;
    }
    .retangulo-6{
        display: none !important;
    }
    .retangulo-7{
        display: none !important;
    }
    .retangulo-8{
        display: none !important;
    }

    
    #menu-web{
        display: none !important;
    }

    .retangulo-mobile-1{
        background: #6A19A9;
        height: 30px;
        width: 100px;
       position: absolute;
    }
    .retangulo-mobile-2{
        background: #4DC479;
        height: 30px;
        width: 100px;
       position: absolute;
         right: 0;
    
    }
    .retangulo-mobile-3{
        background: #6A19A9;
        height: 100px;
        width: 30px;
        position: absolute;
        left: 0;
       
    
    }
    .retangulo-mobile-4{
        background: #6A19A9;
        height: 100px;
        width: 30px;
        position: absolute;
        right: 0;
       
    
    }

    /*menu mobile*/
    .container-menumobile{
        display: flex !important;
    }    

    .logomarca-mobile{
        display: flex !important;
       
    
    }
    
    .logomarca-mobile img{
        width: 100px;
        height: 70px;
        position: absolute;
        margin-top: 10%;
        left: 10%;
    }
    
    #nav-btn{
        position: absolute;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.4s linear;
        left: 80%;
        margin-top: 15%;
    }
    
    #nav-btn.active{
       border: 1px solid #4DC479;
    }
    
    #nav-btn > div{
        
        width: 25px;
        height: 3px;
        background: #4DC479;
        margin: 4px 0px;
        transition: all 0.4s linear;
    
    }
    
    #nav-slide a{
        color: white;
    }
    #nav-slide{
        display: flex;
        flex-direction: column;
        margin-top: -50%;
        width: 100%;
        height: auto;
        background: #4DC479;
        transition: all 0.4s linear; 
        text-decoration-color: aliceblue;
        position: absolute;
    }

    /*fim menu mobile*/

    #colecao-outono-img{
        padding: 0 0;
        margin-top: 35%;
     }

    .container-imagens-colecao{
        flex-direction: column;
    
    }

    .sobre{
        padding: 30px 0;
    }

    #modelo1-img{
        width: 100%;
        height: auto;
    
    }
    
    /*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE */
    /*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE */
    /*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE */
    .myfooter{
        flex-wrap: wrap !important;
    }

    .footer-logo{
        width: 100% !important;
    }

    .container-txt-footer-2{
        width: 100% !important;
    }
    .txt-footer-2{

        display: block !important;
        justify-content: center !important;
        margin: 0;
    }

    .txt-footer-2 p {
       padding: 10px;
    }

    #rede-social-yellow{
        width: 35px;
        height: 35px;
        margin: -3px 24px;

          
    }
    .container-localizacao {
        padding-left: 10%;
        margin-top: 10%;
    }
    /*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE */
    /*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE */
    /*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE */
    /*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE *//*FOOTER -MOBILE */


    .sobre-div{
        flex-wrap: wrap-reverse;
    }
    .sobre-div-2{
        flex-wrap: wrap;
    }
    .sobre-info{
      margin:   50px 5% 0 11%;
    }
    .sobre-info-2{
        margin:   50px 5% 0 11%;
      }

    .icone-digital-influencer img {
        height: 50px;
        width: 50px;
    }
    .ale-basilio-txt h4 {
        font-size: 18px;
        font-weight: bold;
        color: #A7A7A7;
    }
    .jaqueline-txt h4 {
        font-size: 18px;
        font-weight: bold;
        color: #A7A7A7;
    }

    .ul-cardsli{
        width: 100% !important;
        justify-content: center !important;
        padding: 0;
    }

    .carousel-1{
        display: none !important;
    }
    .carousel-mobile{
        display: flex !important;
    }

    .container-paragrafo-carousel {
        margin-top: 0;
    }

    .paragrafo-carousel{
        width: 100% !important;
    }

    
    
    
}

@media (min-width: 1900px){
    .retangulo-1 {
        background: #4DC479;
        margin-left: 23%;
        width: 130px;
        height: 40px;
        position: absolute;
        top: 7%;
        
    }
    
    .retangulo-2 {
        background: #4DC479;
        width: 50px;
        height: 140px;
        position: absolute;
        left: 20px;
        top: 75%;
    
    }
    
    .retangulo-3 {
        background: #4DC479;
        width: 150px;
        height: 40px;
        position: absolute;
        top: 8%;
        right: 0;
    
    }
    .retangulo-4 {
        background: #4DC479;
        width: 50px;
        height: 130px;
        position: absolute;
        top: 0%;
        left: 20px;
    }
    .retangulo-5 {
        background:#4DC479;;
        width: 55px;
        height: 150px;
        position: absolute;
        top: 0%;
        right: 20px;
    
    }

    .retangulo-6 {
        background: #4DC479;
        width: 250px;
        height: 280px;
        position: absolute;
        top: 337%;
        left: 0;

}

.retangulo-7 {
    background: #4DC479;
    margin-left: 39%;
    width: 295px;
    height: 35px;
}
.retangulo-8 {
    background: #4DC479;
    width: 301px;
    height: 55px;
    margin-top: -21px;
    margin-left: 27%;
}

.ul-cardsli{
    width: 55%!important;
}

}
