@media(max-width: 768px) {
    #app {
        position: relative;
        justify-content: center;
        align-items: center;
        padding-bottom: 145px;
    }
    #app.activeMenuMobile {
        flex-direction: column;
        min-height: 100vh; 
        padding-bottom: 80px; 
    }
    .conteudo-app.activeMenuMobile{
        display: none
    }
    .conteudo-app {
        transition: all ease-in-out .4s;
    }
    .tab-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-superior {
        display: none;
    }
    .menu-lateral {
        display: none;
        transform: translateX(-500px);        
    }
    .menu-lateral.activeMenuMobile{        
        display: block;
        transform: translateX(0px);
        width: 100% !important;
        position: relative;
    }
    i.open-menu-mobile {
        position: absolute;
        font-size: 35px;
        color: black;
        cursor: pointer;
        top: 2%;
        left: 85%;
    }    
    .nav.nav-tabs a{
        text-align: center;
        font-size: 27px;
        font-weight: bold;
        color: white;
    }
    .menu-lateral ul{
        margin-top: 10%;
    }
    #multiCollapseCadastrar a, #multiCollapseDeletar a, #multiCollapseAlterar a {
        font-size: 18px;
    }
    .container-lists-reservas{
        padding: 0px !important;
    }

    .list-atendente{ 
        width: 89%;
    }

    .container-modal {
        max-width: 100%;
    }

    .content-form .container-form{ 
        padding-left: 0px;
        padding-right: 0px;
    }

    .content-form{
        width: 100% !important;
    }

    .form-login {
        width: 100% !important;
    }
    
    .form-group {
        margin: 0;
        margin-top: 3px;
    }

    .title-reservas {
        padding: 0;
        margin: -4px;
        width: 293px;
    }

    .title-reservas h1{
        font-size: 33px;
    }

    .btn-primary{
        margin-top: 23px;
    }
    .tb2{
        margin-left: 223px;
    }

    .tb3{
        margin-left: 305px;
    }

    .tb4{
        margin-left: 265px;  
    }
    .open-menu-mobile{
        display: block !important;
    }
}

